BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_IOVOLTAGE=3.3 INBUF=OFF MCCLK_FREQ=38.8 DONE_OD=OFF ;
BANK 0 VCCIO 1.8 V;
BANK 1 VCCIO 1.8 V;
BANK 2 VCCIO 1.8 V;
BANK 3 VCCIO 1.8 V;
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 1.8 V;
BANK 8 VCCIO 3.3 V;
LOCATE COMP "led" SITE "N4" ;
IOBUF PORT "led" IO_TYPE=LVCMOS18 ;
LOCATE COMP "clk_input" SITE "C1" ;
IOBUF PORT "clk_input" IO_TYPE=LVCMOS18 PULLMODE=NONE HYSTERESIS=NA ;
LOCATE COMP "ser_tx" SITE "M2" ;
LOCATE COMP "ser_rx" SITE "M3" ;
IOBUF PORT "ser_tx" IO_TYPE=LVCMOS18 ;
IOBUF PORT "ser_rx" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
LOCATE COMP "ser_tx_dir" SITE "N3" ;
LOCATE COMP "ser_rx_dir" SITE "N2" ;
IOBUF PORT "ser_tx_dir" IO_TYPE=LVCMOS18 ;
IOBUF PORT "ser_rx_dir" IO_TYPE=LVCMOS18 ;
LOCATE COMP "flash_csb" SITE "U17" ;
LOCATE COMP "flash_io0" SITE "U18" ;
LOCATE COMP "flash_io1" SITE "T18" ;
LOCATE COMP "flash_io2" SITE "R18" ;
LOCATE COMP "flash_io3" SITE "N18" ;
LOCATE COMP "fpga_reset" SITE "V17" ;
IOBUF PORT "flash_csb" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_io0" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "flash_io1" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "flash_io2" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "flash_io3" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "fpga_reset" IO_TYPE=LVCMOS33 ;
IOBUF PORT "HRAM_CK[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_CK[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_CS" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_RWDS" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_DQ[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_DQ[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_DQ[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_DQ[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_DQ[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_DQ[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_DQ[6]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_DQ[7]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HRAM_RESET" IO_TYPE=LVCMOS18 ;
LOCATE COMP "HRAM_CK[0]" SITE "G1" ;
LOCATE COMP "HRAM_CK[1]" SITE "F2" ;
LOCATE COMP "HRAM_CS" SITE "F3" ;
LOCATE COMP "HRAM_RWDS" SITE "H1" ;
LOCATE COMP "HRAM_DQ[0]" SITE "J2" ;
LOCATE COMP "HRAM_DQ[1]" SITE "J1" ;
LOCATE COMP "HRAM_DQ[2]" SITE "G4" ;
LOCATE COMP "HRAM_DQ[3]" SITE "K1" ;
LOCATE COMP "HRAM_DQ[4]" SITE "K4" ;
LOCATE COMP "HRAM_DQ[5]" SITE "L1" ;
LOCATE COMP "HRAM_DQ[6]" SITE "K3" ;
LOCATE COMP "HRAM_DQ[7]" SITE "M1" ;
LOCATE COMP "HRAM_RESET" SITE "D2" ;
IOBUF PORT "SDMMC_CD" IO_TYPE=LVCMOS33 PULLMODE=UP HYSTERESIS=ON ;
IOBUF PORT "SDMMC_DATA[0]" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "SDMMC_DATA[1]" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "SDMMC_DATA[2]" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "SDMMC_DATA[3]" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "SDMMC_CMD" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW HYSTERESIS=ON DIFFRESISTOR=OFF OPENDRAIN=OFF CLAMP=ON DRIVE=8 ;
IOBUF PORT "SDMMC_CK" IO_TYPE=LVCMOS33 ;
LOCATE COMP "SDMMC_CD" SITE "F17" ;
LOCATE COMP "SDMMC_DATA[0]" SITE "K18" ;
LOCATE COMP "SDMMC_DATA[1]" SITE "L18" ;
LOCATE COMP "SDMMC_DATA[2]" SITE "F18" ;
LOCATE COMP "SDMMC_DATA[3]" SITE "G18" ;
LOCATE COMP "SDMMC_CMD" SITE "H18" ;
LOCATE COMP "SDMMC_CK" SITE "J18" ;
IOBUF PORT "BOSON_DATA[0]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[1]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[2]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[3]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[4]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[5]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[6]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[7]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[8]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[9]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[10]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[11]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[12]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[13]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[14]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_DATA[15]" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_HSYNC" IO_TYPE=LVCMOS18 HYSTERESIS=ON ;
IOBUF PORT "BOSON_VSYNC" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_CLK" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
IOBUF PORT "BOSON_RESET" IO_TYPE=LVCMOS18 HYSTERESIS=ON ;
IOBUF PORT "BOSON_VALID" IO_TYPE=LVCMOS18 HYSTERESIS=NA ;
LOCATE COMP "BOSON_DATA[0]" SITE "B17" ;
LOCATE COMP "BOSON_DATA[1]" SITE "A13" ;
LOCATE COMP "BOSON_DATA[2]" SITE "A9" ;
LOCATE COMP "BOSON_DATA[3]" SITE "B11" ;
LOCATE COMP "BOSON_DATA[4]" SITE "B2" ;
LOCATE COMP "BOSON_DATA[5]" SITE "A2" ;
LOCATE COMP "BOSON_DATA[6]" SITE "A3" ;
LOCATE COMP "BOSON_DATA[7]" SITE "B4" ;
LOCATE COMP "BOSON_DATA[8]" SITE "B1" ;
LOCATE COMP "BOSON_DATA[9]" SITE "A8" ;
LOCATE COMP "BOSON_DATA[10]" SITE "A7" ;
LOCATE COMP "BOSON_DATA[11]" SITE "B9" ;
LOCATE COMP "BOSON_DATA[12]" SITE "B8" ;
LOCATE COMP "BOSON_DATA[13]" SITE "B6" ;
LOCATE COMP "BOSON_DATA[14]" SITE "D1" ;
LOCATE COMP "BOSON_DATA[15]" SITE "A6" ;
LOCATE COMP "BOSON_HSYNC" SITE "A17" ;
LOCATE COMP "BOSON_VSYNC" SITE "B10" ;
LOCATE COMP "BOSON_CLK" SITE "A11" ;
LOCATE COMP "BOSON_RESET" SITE "C2" ;
LOCATE COMP "BOSON_VALID" SITE "B18" ;
USE PRIMARY NET "clk_0" QUADRANT_TL QUADRANT_TR QUADRANT_BL QUADRANT_BR ;
FREQUENCY PORT "clk_input" 16.000000 MHz ;
FREQUENCY NET "_inst/buf_CLKI" 16.000000 MHz ;
