
# Pinout for the iCE40-HX8K Breakout Board

set_io clk_in G1

set_io flash_csb P13
set_io flash_clk P12
set_io flash_io0 M11
set_io flash_io1 P11
set_io flash_io2 P9
set_io flash_io3 P8

set_io ser_tx B1
set_io ser_rx C1

set_io io_a_dir C3
set_io io_b_dir D3

set_io led D1


# SD -- SDMMC MODE
#set_io sd_ck P3
#set_io sd_cmd P4
#set_io sd_dat0 P2
#set_io sd_dat1 M3
#set_io sd_dat2 P5
#set_io sd_dat3 M4
#set_io sd_cd M6

# SD -- SPI MODE 
set_io sd_spi_ck   P3 -pullup yes # P3
set_io sd_spi_mosi P4 -pullup yes  #P4
set_io sd_spi_miso P2 -pullup yes
set_io sd_spi_cs   M4 -pullup yes
set_io sd_cd       M6 -pullup yes


#   ---  HYPERBUS 8bit DDR INTERFACE  ---   #
set_io HRAM_RESET C10  -pullup no

set_io HRAM_CK[0] A7  -pullup no
set_io HRAM_CK[1] A6  -pullup no

set_io HRAM_RWDS C6  -pullup no
set_io HRAM_CS A10  -pullup no

set_io HRAM_DQ[0] A4  -pullup no
set_io HRAM_DQ[1] C4  -pullup no
set_io HRAM_DQ[2] C7  -pullup no
set_io HRAM_DQ[3] A5  -pullup no
set_io HRAM_DQ[4] C5  -pullup no
set_io HRAM_DQ[5] A3  -pullup no
set_io HRAM_DQ[6] A2  -pullup no
set_io HRAM_DQ[7] A1  -pullup no


#   ---  BOSON COMMAND INTERFACE  ---   #
set_io BOSON_RESET A12  -pullup yes
set_io BOSON_TXD C12  -pullup no
set_io BOSON_RXD C11  -pullup yes


#   ---  BOSON CMOS CAMERA INTERFACE  ---   #
set_io CAM_CMOS_VALID P14  -pullup no
set_io CAM_CMOS_CLK   G14  -pullup no
set_io CAM_CMOS_VSYNC   K14  -pullup no
set_io CAM_CMOS_HSYNC   M12  -pullup no

set_io CAM_CMOS_D[0]  N14  -pullup no
set_io CAM_CMOS_D[1]  K12  -pullup no
set_io CAM_CMOS_D[2]  L14  -pullup no
set_io CAM_CMOS_D[3]  J12  -pullup no
set_io CAM_CMOS_D[4]  C14  -pullup no
set_io CAM_CMOS_D[5]  B14  -pullup no
set_io CAM_CMOS_D[6]  D12  -pullup no
set_io CAM_CMOS_D[7]  E12  -pullup no
set_io CAM_CMOS_D[8]  E11  -pullup no
set_io CAM_CMOS_D[9]  G12  -pullup no
set_io CAM_CMOS_D[10] L12  -pullup no
set_io CAM_CMOS_D[11] F14  -pullup no
set_io CAM_CMOS_D[12] H12  -pullup no
set_io CAM_CMOS_D[13] E14  -pullup no
set_io CAM_CMOS_D[14] F12  -pullup no
set_io CAM_CMOS_D[15] D14  -pullup no
